@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Josefin+Sans:wght@400;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: .2s ease-in-out;
}

.inner {
  max-width: 1170px;
  margin: 0 auto;
  @media screen and (max-width: 1024px){
    padding: 0 30px;
  }
}
header {
  background-image: url("../img/Image.png");
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 250px;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  h1 {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 26px;
    margin-bottom: 15px;
    @media screen and (max-width: 426px){
      font-size: 36px;
    }
  }
  h5 {
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0.31em;
    line-height: 26px;
    @media screen and (max-width: 426px){
      font-size: 18px;
    }
  }
  .cls-1 {
    fill: #fff;
    fill-rule: evenodd;
  }
  #searchform {
    width: 59%;
    background: white;
    margin: 50px auto;
    display: flex;
    align-items: center;
    padding: 2px;
    @media screen and (max-width: 426px){
      width: 80%;
    }
    input {
      width: 78%;
      text-align: center;
      border: none;
      overflow: hidden;
      outline: none;
      font-size: 14px;
      color: #999999;
      letter-spacing: 0.2em;
      @media screen and (max-width: 426px){
        letter-spacing: 0.1em;;
      }
    }
    .search {
      position: relative;
      top: 5px;
      left: 10px;
      @media screen and (max-width: 768px){
        left: 0;
      }
    }
    :focus::placeholder {
      color: transparent;
    }
    button {
      width: 22%;
      height: 53px;
      background: #5474fd;
      float: right;
      outline: none;
      border: none;
      font-family: 'Aleo', serif;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      span {
        @media screen and (max-width: 426px){
          display: none;
        }
      }
    }
  }
  p {
    font-size: 14px;
    letter-spacing: 0.2em;
    text-align: center;
    margin-top: 115px;
  }
  .scroll {
    &:before {
      content: "";
      width: 8px;
      height: 8px;
      border-top: 2px solid white;
      border-left: 2px solid wheat;
      transform: rotate(-135deg);
      display: block;
      margin: 15px auto 0;
    }
  }
  nav {
    width: 100%;
    background: #5474fd;
    position: absolute;
    bottom: 0;
    .menu {
      padding: 40px 0 50px;
      a {
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        float: left;
        text-decoration: none;
        color: white;
        @media screen and (max-width: 768px){
          display: block;
          float: none;
          text-align: center;
          margin-bottom: 20px;
        }
      }
      ul {
        list-style: none;
        float: right;
        @media screen and (max-width: 768px){
          float: none;
        }
        @media screen and (max-width: 426px){
          display: flex;
          flex-direction: column;
        }
        li {
          display: inline-block;
          margin-left: 40px;
          @media screen and (max-width: 426px){
            margin-left: 0;
          }
        }
        a {
          text-decoration: none;
          color: white;
          font-family: 'Aleo', serif;
          text-transform: uppercase;
          font-size: 14px;
          border-bottom: 2px solid transparent;
          &:hover {
            border-bottom: 2px solid white;
          }
        }
      }
    }
  }
}

.why-choose-us {
  background-image: url("../img/Rectangle 7.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 120px 0;
  .container {
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 426px){
      flex-direction: column;
    }
    .info {
      width: 45%;
      padding-top: 90px;
      padding-bottom: 42px;
      @media screen and (max-width: 426px){
        width: 90%;
        padding-top: 0;
      }
      h2 {
        font-size: 36px;
        font-family: 'Aleo', serif;
        font-weight: 400;
        line-height: 36px;
        @media screen and (max-width: 426px){
          font-size: 32px;
        }
      }
      p {
        font-family: 'Josefin Sans', sans-serif;
        color: #e8e8e8;
        line-height: 26px;
        margin: 55px 0;
      }
    }
    .img {
      width: 45%;
      @media screen and (max-width: 426px){
        width: 96%;
      }
    }
    img[alt=nature] {
      margin-right: 125px;
      &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 18px 1px rgba(0,0,0,0.46);
      }
    }
    img[alt=mountains] {
      float: right;
      &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 18px 1px rgba(0,0,0,0.46);
      }
    }
  }
}
.button {
    background: linear-gradient(45deg, rgba(73,107,254,1) 40%,rgba(84,116,253,1) 34%);
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: 'Aleo', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 60px;
    letter-spacing: 0.075em;
    transition: all 500ms ease;
    position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 60px;
    background: #496bfe;
    transition: all 1s ease;
  }
  &:hover:before {
    width: 100%;
  }
  span {
    z-index: 1;
  }
}
.icons {
  width: 100%;
  background: #333333;
  padding-top: 40px;
  padding-bottom: 60px;
  .container {
    display: flex;
    justify-content: center;
    width: 67%;
    margin: 0 auto;
    .search {
      fill: #5474fd;
      fill-rule: evenodd;
    }
    .check {
      fill: #ff6363;
      fill-rule: evenodd;
    }
    .ok {
      fill: #00a2ff;
      fill-rule: evenodd;
    }
    .shape {
      fill: none;
      stroke: #fff;
      stroke-linecap: round;
      stroke-width: 1px;
      stroke-dasharray: 0.001 5;
      fill-rule: evenodd;
      opacity: 0.5;
    }
    .icon {
      display: flex;
      justify-content: space-between;
      position: relative;
      bottom: 56px;
      width: 100%;
      margin: 0 auto;
      @media screen and (max-width: 1024px) {
        width: 82%;
      }
      @media screen and (max-width: 768px){
        width: 63%;
      }
      @media screen and (max-width: 426px){
        width: 48%;
      }
      svg:hover {
        transform: scale(1.1);
      }
      div {
        width: 96px;
        height: 96px;
        border-radius: 50%;
        background: #333333;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }
  }
  .title {
    margin: 0 auto;
    width: 78%;
    display: flex;
    justify-content: space-between;
    font-family: 'Aleo', serif;
    font-size: 36px;
    color: #e8e8e8;
    font-weight: 400;
    transform: translate(0, -50px);
    @media screen and (max-width: 768px){
      font-size: 26px;
    }
    @media screen and (max-width: 426px){
      font-size: 18px;
      width: 100%;
    }
  }
}
.booking {
  background-image: url("../img/Rectangle 414.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 230px 0 100px 0;
  &__container {
    width: 48%;
    background-color: rgba(25, 25, 25, 0.9);
    color: #e8e8e8;
    font-family: 'Josefin Sans', sans-serif;
    padding: 50px 30px;
    line-height: 26px;
    @media screen and (max-width: 426px){
      width: 100%;
    }
    h5 {
      font-size: 20px;
      letter-spacing: 0.075em;
      font-weight: 400;
    }
    h3 {
      text-transform: uppercase;
      font-size: 20px;
      margin: 23px 0;
      font-weight: 400;
    }
    p {
      margin-bottom: 40px;
    }
  }
}
.booking-2 {
  background-image: url("../img/Rectangle 4141.png");
  .inner {
    display: flex;
    justify-content: flex-end;
  }
}
.tourist {
  background-image: url("../img/Rectangle 4142.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 120px;
  padding-bottom: 200px;
  h2 {
    font-family: 'Aleo', serif;
    font-size: 36px;
    line-height: 26px;
    margin: 0 auto;
    color: white;
    text-align: center;
    font-weight: 400;
    @media screen and (max-width: 426px){
      font-size: 32px;
    }
  }
  .container {
    width: 100%;
    background: #333333;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 768px){
      flex-direction: column;
      padding: 20px 0;
    }
    @media screen and (max-width: 426px){
      margin-top: 50px;
    }
    img {
      @media screen and (max-width: 426px){
        width: 100%;
      }
    }
    article {
      width: 55%;
      padding-right: 40px;
      @media screen and (max-width: 1024px){
       width: 50%;
      }
      @media screen and (max-width: 768px){
        width: 60%;
        margin-top: 20px;
        padding-right: 0;
      }
      h2 {
        color: #fefefe;
        text-transform: uppercase;
        font-size: 20px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        margin-bottom: 25px;
        display: inline-block;
      }
      p {
        color: #e8e8e8;
        line-height: 26px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
      }
      .fa-quote-left {
        color: #5474fd;
        position: relative;
        bottom: 10px;
        right: 5px;
        font-size: 20px;
      }
    }
  }
}
footer {
  background: #232323;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  padding-top: 120px;
  padding-bottom: 35px;
  text-align: center;
  line-height: 26px;
  @media screen and (max-width: 768px){
    padding-top: 60px;
  }
  a {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 70;
    padding-bottom: 10px;
   text-decoration: none;
    color: white;
  }
  .social {
    width: 160px;
    display: flex;
    justify-content: space-between;
    margin: 30px auto 0;
    a {
      color: white;
      font-size: 16px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .fa-linkedin-in {
    color: #5474fd;
  }
}